<%- include("partials/header.ejs") %>

<div class="main-container">
    <h1>Home Page</h1>

    <div class="posts-container">
        <% if (locals.postsData) { %>
            <% postsData.forEach((post)=> { %>
                <div class="post-card">
                    <div class="post-img"><img src="<%= post.img %>" class="card-img-top" alt="bali beach"></div>
                    <div class="post-title"><%= post.title %></div>
                    <div class="post-date"><%= post.date %></div>
                    <div class="post-summary"><%= post.summary %></div>
                </div>
            <%}) %>
        <% } else {%>
            <p>No items to display</p>
        <% } %>
    </div>
</div>

<%- include("partials/footer.ejs") %>